<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register</title>
</head>
<body><center>
  <h2>Register</h2>
  <form method="POST" action="/register">
    <div>
      <label for="name">Name:</label>
      <input id="name" name="name" type="text" required />
    </div>
<br>
    <div>
      <label>Roll No:</label>
      <input name="roll_no" type="text" required />
      
    </div>
<br>
<div>
  <label >Email</label>
  <input name="email" type="email" required />
</div>
<div>
  <label >dept</label>
  <input name="dept" type="dept" required />
</div>
<div>
  <label >city</label>
  <input name="city" type="city" required />
</div>
<br>
    <div>
      <label for="year">Year:</label>
      <select id="year" name="year" required>
        <option value="" selected disabled>Select Year</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

<br>
    <button type="submit">Submit</button>
  </form></center>
</body>
</html>


